:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-tertiary: #0872BA;

    --color-grey-1: #292929;
    --color-grey-2: #363636;
    --color-yellow-1: #F79421;
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --line: 1px solid var(--color-grey-light-2);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; // 1 rem = 9px, 8/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; // 1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1 rem = 12px, 12/16
    }
}



body {
    font-family: 'Poppins',  'Open Sans',sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: var(--color-primary);
    overflow-x: hidden;

    @include respond (tab-port) {
        overflow-x: hidden;
    }

    @include respond (mobile) {
        overflow-x: hidden;
    }
}

