.heading {

    &-secondary {
        text-align: center;

        &__bg {
            font-size: 3.6rem;
            font-weight: 400;
            display: block;

            @include respond (tab-land) {
                font-size: 3rem;
            }

            @include respond (phone) {
                font-size: 2rem;
            }
        }

        &__sm {
            display: block;
            font-size: 2rem;
            font-weight: 300;

            @include respond (tab-land) {
                font-size: 1.5rem;
            }
        }

        &__industry {
            color: var(--color-grey-1);
            margin-bottom: 9rem;

            @include respond (tab-land) {
                margin-bottom: 6rem;
            }

            @include respond (tab-land) {
                font-size: 10rem;
            }
        }

        &__oppurtunities {
            color: var(--color-secondary);
            margin-bottom: 5.9rem;
        }

        &__team {
            color: var(--color-tertiary);
            margin-bottom: 6.2rem;

            @include respond (tab-land) {
                margin-bottom: 5rem;
            }

            @include respond (phone) {
                margin-bottom: 3rem;
            }
        }
    }

    &-5 {
        font-size: 1.4rem;
        font-weight: 300;

        &::after {
            content: "";
            width: 5.2rem;
            height: 2px;
            background-color: var(--color-yellow-1);
            display: block;
            margin: 0 auto;
            margin-top: 1.55rem;
            margin-bottom: 1.55rem;
        }
    }
}