.oppurtunities {
    padding: 6.6rem 12.3rem;
    color: var(--color-tertiary);

    @include respond (tab-land) {
        padding: 6rem 5rem;
    }

    &__compositions {
        display: flex;
        justify-content: space-between ;

        @include respond (tab-land) {
            // width: 50%;
        }
    }

    &__img {
        width: 100%;

        @include respond (tab-land) {
            width: 20%;
        }
    }
    
}